<mat-list>
    <mat-list-item *ngFor="let item of lista">
        <mat-divider></mat-divider>
        <div class="divIcon">
            <mat-icon *ngIf="item.estado=='Rechazado'" class="iconRechazo" aria-hidden="false" aria-label="Example home icon">person_remove</mat-icon>
            <mat-icon *ngIf="item.estado=='Aprobado'"  class="iconAprobado" aria-hidden="false" aria-label="Example home icon">how_to_reg</mat-icon>
        </div>
        <div>
            <b>{{item.nombre}}</b><br/>
            {{item.valorSolicitado | number }}  {{item.observacion}}
            
        </div>
        <span class="example-spacer"></span>
        <div class="divPagar" *ngIf="item.estado=='Aprobado' && item.pagoCredito=='No'">
            <button mat-mini-fab color="primary" (click)="pagar(item)">
                <mat-icon>attach_money</mat-icon>
              </button>
        </div>
        
    </mat-list-item>
   
    
  </mat-list>