<h1 mat-dialog-title>{{data.titulo}}</h1>
<div mat-dialog-content>{{data.mensaje}}</div>
<div mat-dialog-actions *ngIf="!data.confirmacion">
  <button mat-button mat-dialog-close>Cerrar</button>
</div>
<div mat-dialog-actions *ngIf="data.confirmacion">
  <button mat-button [mat-dialog-close]="false">Cancelar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirmar</button>
</div>