<mat-toolbar>
    
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Zinobe Test </span>
    <span class="example-spacer"></span>
    <balance></balance>
</mat-toolbar>




<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-nav-list>
            <a mat-list-item routerLink="/Header/NewCredit">
                <mat-icon aria-hidden="false" aria-label="Example home icon">attach_money
                </mat-icon>
                &#160; Nuevo Crédito
            </a>
            <a mat-list-item routerLink="/Header/CreditByStatus/Aprobado">
                <mat-icon aria-hidden="false" aria-label="Example home icon">how_to_reg</mat-icon>
                &#160; Créditos Activos
            </a>
            <a mat-list-item routerLink="/Header/CreditByStatus/Rechazado">
                <mat-icon aria-hidden="false" aria-label="Example home icon">person_remove</mat-icon>
                 &#160; Créditos Rechazados
            </a>
        </mat-nav-list>

    </mat-drawer>

    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>