<div class="divPrincipal">
    <mat-card >
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Créditos por persona</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <list [lista]="creditos"></list>
        </mat-card-content>
    </mat-card>
    
    
</div>