<div class="cardCredit">
    <mat-card >
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Nuevo crédito</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="form">
                <mat-form-field class="input">
                    <mat-label>¿Cuál es tu nombre?</mat-label>
                    <input matInput type="text" formControlName="nombre">
                    <button mat-button *ngIf="form.controls['nombre'].value" matSuffix mat-icon-button
                        aria-label="Clear" (click)="form.controls['nombre'].setValue('')">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field class="input">
                    <mat-label>¿Como es tu correo?</mat-label>
                    <input matInput type="text" formControlName="email">
                    <button mat-button *ngIf="form.controls['email'].value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="form.controls['email'].setValue('')">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field class="input">
                    <mat-label>¿Cuál es tu documento de identidad?</mat-label>
                    <input matInput type="text" formControlName="cedula">
                    <button mat-button *ngIf="form.controls['cedula'].value" matSuffix mat-icon-button
                        aria-label="Clear" (click)="form.controls['cedula'].setValue('')">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                
                <mat-form-field class="input" appearance="fill">
                    <mat-label>¿Cuando puedes pagar?</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fechaPago">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                  
                <span>¿Cuanto necesitas?</span>
                <monto (changeValue)="changeValue($event)"></monto>
                <div >
                    <button class="button" mat-raised-button color="primary"  type="submit" (click)="onSubmit()">Solicitar Crédito</button>
                </div>
               
            </form>
        </mat-card-content>
    </mat-card>
</div>