<div class="Contenedor">
    <span>$10.000</span>
    <mat-slider thumbLabel
    [displayWith]="formatLabel" [(ngModel)]="value" [min]="10000" [step]="10000"  [max]="100000"></mat-slider>
    <span>$100.000</span>
</div>
