.Contenedor{
    padding-top: 10px;
    width: 100%;
    display: inline-block;
}
mat-slider {
    width: 80%;
    color: #4C33FF;
  }

  ::ng-deep .mat-accent .mat-slider-thumb {
    background-color: #333FFF;
} 
::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: #333FFF;
} 
::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: #333FFF;
} 

  @media only screen and (max-width: 600px) {
    mat-slider {
        width: 250px;
        color: #4C33FF;
      }
  }